* {
  font-family: Helvetica, Arial;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  background-color: #3c4959;
  color: #FFFFFF;
  font-family: 'Open Sans Condensed', sans-serif;
  position: fixed;
  width: 100%;
  padding: 10px 10px 10px 20px;
  z-index: 1;
}

nav {
  position: fixed;
  top: 71px;
  right: 0px;
  background-color: #ffffff;
  z-index: 2;
  margin: 0px; 
  padding: 15px 15px 15px 0;
  width: 100%;
  text-align: right;
  box-shadow: 0 13px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
}

nav > a {
  margin-left: 10px;
  color: #3c4959;
  padding: 5px;
  font-weight: bold;
}

nav > a:hover {
  background-color: gold;
}

main {
  position: absolute;
  top: 130px;
  margin: 0px 20px 0px 20px;
}

.row {
  margin: 25px auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  /* important! => horizontal center */
  justify-content: center;    
}

.book-shelf {
  margin-left: auto;
  margin-right: auto;
} 

.column {
  margin: 5px;
  width: 50%;
}

.book-cover-img {
  width: 250px;
  /* padding: 15px 15px 30px 15px;; */
  margin: 15px 15px 30px 15px;
  cursor: pointer;
  box-shadow: 0 13px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
  border-radius: 1%;
}

.book-cover-img:hover, 
.eloquent-ruby-cover:hover {
  opacity: 0.3;
}


/* book detail page */

.book-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  top: 0px;
  padding-left: 20px;
  justify-content: center;
}

.eloquent-ruby-cover {
  cursor: pointer;
  box-shadow: 0 13px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
  border-radius: 1%;
  margin: 25px 50px 25px 0;
}

.book-title {
  margin: 45px 0 15px 0;
  text-align: center;
}

.book-info {
  margin: auto 0 auto 0; 
}

.book-info > li {
  margin-bottom: 10px;
  color: #404142;
}

.book-info > li:last-child {
  margin-bottom: 0px;
}


.description-container {
  margin: 50px 20px 30px 20px;
  color: #404142
}

.description-container > h3 {
  padding: 30px 0 0 50px;
}

.description-contents {
  padding: 20px 50px 40px 50px;
}

h3 {
  padding-bottom: 20px;
}

.review-container {
  /* background-color: #edf1f4; */
  width: 100%;
  padding: 30px;
}

.review-title {
  font-size: 30px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
}

.second-review-title {
  margin-top: 50px;
}

.review-header {
  width: 100%;
  padding-top: 60px;
}

.review-sub-info {
  text-align: right;
}

.review-contents {
  padding-top: 50px;
  padding-bottom: 60px;
}

.review-container-1 {
  background-color: #edf1f4;
  padding: 0 50px 0 50px;

}

.review-container-2 {
  background-color: #e1e5e8;
  padding: 0 50px 0 50px;
}

article > section {
  padding-bottom: 40px;
}

ul {
  list-style: none;
}


.welcome-feedback {
  text-align: center;
  padding-top: 100px;
  font-size: 40px;
}


.site-maintainer-img {
  border-radius: 50%;
  width: 200px;
}

.contact-container {
  display: flex;
}

footer {
  position: fixed;
  margin: 20px; 
  right: 0px;
  bottom: 0px;
}

.logo {
  padding-left: 10px;
}